<hr style="border-top:10px solid Gold; margin-top: 2px; margin-bottom: 0px">
<hr style="border-top:10px solid Blue; margin-top: 0px; margin-bottom: 2px">

# Rediscovering Pokemon GO and the Main Series Games

<hr style="border-top:10px solid Gold; margin-top: 2px; margin-bottom: 0px">
<hr style="border-top:10px solid Blue; margin-top: 0px; margin-bottom: 2px">

In [2]:
# Standard imports
import pandas as pd
# Vis imports
import matplotlib.pyplot as plt
import seaborn as sns
# Stats imports
from scipy.stats import spearmanr

## Project Goal

- To perform exploratory analysis on the Pokemon main series games and mobile game Pokemon GO

<hr style="border-top:10px solid Gold; margin-top: 2px; margin-bottom: 0px">
<hr style="border-top:10px solid Blue; margin-top: 0px; margin-bottom: 2px">

## Acquire and Prepare Data

<hr style="border-top:10px solid Gold; margin-top: 2px; margin-bottom: 0px">
<hr style="border-top:10px solid Blue; margin-top: 0px; margin-bottom: 2px">

In [7]:
df = pd.read_csv('comprehensive_dps_updated.csv')
df1 = pd.read_csv('Pokemon.csv')
df_best_attack_set = pd.read_csv('Best_Attack_Set_Updated.csv')
df_best_attack_set.drop("Unnamed: 0", axis='columns', inplace=True)
df_best_attack_set.drop("Unnamed: 20", axis='columns', inplace=True)

In [4]:
df.head()

         Pokemon   Fast Move Charged Move     DPS    TDO     ER    CP
0  Mega Mewtwo Y   Confusion    Psystrike  26.355  999.7  65.41  5610
1  Mega Mewtwo Y  Psycho Cut    Psystrike  26.207  994.1  65.04  5610
2  Mega Mewtwo X   Confusion    Psystrike  25.513  967.8  63.32  5429
3  Shadow Mewtwo   Confusion    Psystrike  25.400  662.7  57.41  4178
4  Mega Mewtwo X  Psycho Cut    Psystrike  25.380  962.8  62.99  5429

In [5]:
df1.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
df_best_attack_set.head()

,Pokemon,DPS,TDO,Battle_Stat,Max_CP_Lv40,Fast_Move,Charged_Move,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Flabébé,7.460,99.2,41.2,1063,Vine Whip,Dazzling Gleam,669.0,Fairy,NaN,303.0,44.0,38.0,39.0,61.0,79.0,42.0,6.0,False
1,5th Anniversary Pikachu,8.366,81.2,47.5,938,Thunder Shock,Wild Charge,25.0,Electric,NaN,320.0,35.0,55.0,40.0,50.0,50.0,90.0,1.0,False
2,Abomasnow,12.094,322.3,570.1,2362,Razor Leaf,Weather Ball Ice,460.0,Grass,Ice,494.0,90.0,92.0,75.0,92.0,85.0,60.0,4.0,False
3,Abra,11.707,85.1,136.5,1342,Zen Headbutt,Psyshock,63.0,Psychic,NaN,310.0,25.0,20.0,15.0,105.0,55.0,90.0,1.0,False
4,Absol,15.134,252.4,874.8,2526,Snarl,Return,359.0,Dark,NaN,465.0,65.0,130.0,60.0,75.0,60.0,75.0,3.0,False