# Pokemon GO and Exploratory Analysis

In [1]:
import pandas as pd

In [69]:
df = pd.read_csv('comprehensive_dps.csv')

In [70]:
df.head()

         Pokemon   Fast Move Charged Move     DPS    TDO  DPS^3*TDO    CP
0  Mega Mewtwo Y   Confusion    Psystrike  26.355  999.7    18299.9  5610
1  Mega Mewtwo Y  Psycho Cut    Psystrike  26.207  994.1    17893.2  5610
2  Mega Mewtwo X   Confusion    Psystrike  25.513  967.8    16073.1  5429
3  Shadow Mewtwo   Confusion    Psystrike  25.400  662.7    10859.6  4178
4  Mega Mewtwo X  Psycho Cut    Psystrike  25.380  962.8    15739.4  5429

In [71]:
df.rename(columns = {'DPS^3*TDO' : 'Battle_Stat'}, inplace = True)

In [72]:
df.head()

         Pokemon   Fast Move Charged Move     DPS    TDO  Battle_Stat    CP
0  Mega Mewtwo Y   Confusion    Psystrike  26.355  999.7      18299.9  5610
1  Mega Mewtwo Y  Psycho Cut    Psystrike  26.207  994.1      17893.2  5610
2  Mega Mewtwo X   Confusion    Psystrike  25.513  967.8      16073.1  5429
3  Shadow Mewtwo   Confusion    Psystrike  25.400  662.7      10859.6  4178
4  Mega Mewtwo X  Psycho Cut    Psystrike  25.380  962.8      15739.4  5429

In [73]:
df.isnull().sum()

Pokemon         0
Fast Move       0
Charged Move    0
DPS             0
TDO             0
Battle_Stat     0
CP              0
dtype: int64

In [177]:
df_best_attack_set = df.groupby('Pokemon').max('Battle_Stat')

In [178]:
df_best_attack_set.head()

                            DPS    TDO  Battle_Stat    CP
Pokemon
 Flabébé                  7.460   99.2         41.2  1063
5th Anniversary Pikachu   8.366   81.2         47.5   938
Abomasnow                12.094  322.3        570.1  2362
Abra                     11.707   85.1        136.5  1342
Absol                    15.134  252.4        874.8  2526

In [179]:
df_best_attack_set = df_best_attack_set.merge(df, on='Pokemon', how='left')

In [180]:
df_best_attack_set.head()

,Pokemon,DPS_x,TDO_x,Battle_Stat_x,CP_x,Fast Move,Charged Move,DPS_y,TDO_y,Battle_Stat_y,CP_y
0,Flabébé,7.46,99.2,41.2,1063,Vine Whip,Dazzling Gleam,7.460,99.2,41.2,1063
1,Flabébé,7.46,99.2,41.2,1063,Tackle,Dazzling Gleam,7.300,97.1,37.8,1063
2,Flabébé,7.46,99.2,41.2,1063,Vine Whip,Psychic,6.797,90.4,28.4,1063
3,Flabébé,7.46,99.2,41.2,1063,Tackle,Psychic,6.613,88.0,25.4,1063
4,Flabébé,7.46,99.2,41.2,1063,Vine Whip,Petal Blizzard,6.071,80.8,18.1,1063

In [181]:
df_best_attack_set = df_best_attack_set[(df_best_attack_set['Battle_Stat_x'] == df_best_attack_set['Battle_Stat_y'])]

In [182]:
df_best_attack_set.head()

,Pokemon,DPS_x,TDO_x,Battle_Stat_x,CP_x,Fast Move,Charged Move,DPS_y,TDO_y,Battle_Stat_y,CP_y
0,Flabébé,7.460,99.2,41.2,1063,Vine Whip,Dazzling Gleam,7.460,99.2,41.2,1063
6,5th Anniversary Pikachu,8.366,81.2,47.5,938,Thunder Shock,Wild Charge,8.366,81.2,47.5,938
14,Abomasnow,12.094,322.3,570.1,2362,Razor Leaf,Weather Ball Ice,12.094,322.3,570.1,2362
24,Abra,11.707,85.1,136.5,1342,Zen Headbutt,Psyshock,11.707,85.1,136.5,1342
32,Absol,15.134,252.4,874.8,2526,Snarl,Return,15.134,252.4,874.8,2526

In [183]:
df_best_attack_set.drop(columns = ['DPS_y', 'TDO_y', 'Battle_Stat_y', 'CP_y'], inplace = True)

In [184]:
df_best_attack_set.rename(columns = {'DPS_x' : 'DPS', 'TDO_x' : 'TDO',
                                     'Battle_Stat_x' : 'Battle_Stat', 'CP_x' : 'Max_CP_Lv40',
                                    'Fast Move' : 'Fast_Move', 'Charged Move' : 'Charged_Move'}, inplace = True)

In [185]:
df_best_attack_set.head()

,Pokemon,DPS,TDO,Battle_Stat,Max_CP_Lv40,Fast_Move,Charged_Move
0,Flabébé,7.460,99.2,41.2,1063,Vine Whip,Dazzling Gleam
6,5th Anniversary Pikachu,8.366,81.2,47.5,938,Thunder Shock,Wild Charge
14,Abomasnow,12.094,322.3,570.1,2362,Razor Leaf,Weather Ball Ice
24,Abra,11.707,85.1,136.5,1342,Zen Headbutt,Psyshock
32,Absol,15.134,252.4,874.8,2526,Snarl,Return

In [186]:
df_best_attack_set[df_best_attack_set.Pokemon == 'Pumpkaboo']

Empty DataFrame
Columns: [Pokemon, DPS, TDO, Battle_Stat, Max_CP_Lv40, Fast_Move, Charged_Move]
Index: []

In [187]:
def base_function(df_best_attack_set):
    x = input('Type a Pokemons name to find its best moveset.')
    result = df_best_attack_set[df_best_attack_set.Pokemon == x]
    print(result)


def find_best_moveset(df_best_attack_set):
    x = input('Type a Pokemons name to find its best moveset.')
    result = df_best_attack_set[df_best_attack_set.Pokemon == x]
    print(result)
    loop = 'active'
    while loop == 'active':
        choice = input('Would you like to check another Pokemon? Y/N')
        if choice == 'Y':
            base_function(df_best_attack_set)
        elif choice == 'N':
            print('Thank you have a great day!')
            break
        else:
            print('Please enter Y or N')

In [62]:
find_best_moveset(df_best_attack_set)

Type a Pokemons name to find its best moveset. Pumpkaboo - Super Size

                     Pokemon    DPS    TDO  Battle_Stat    CP   Fast_Move  \
7446  Pumpkaboo - Super Size  8.569  134.9         84.9  1250  Razor Leaf

     Charged_Move
7446   Grass Knot

Would you like to check another Pokemon? Y/N Y
Type a Pokemons name to find its best moveset. Tyrunt

      Pokemon     DPS    TDO  Battle_Stat    CP    Fast_Move Charged_Move
13048  Tyrunt  10.603  168.6        200.9  1635  Dragon Tail  Dragon Claw

Would you like to check another Pokemon? Y/N Y
Type a Pokemons name to find its best moveset. Furret

     Pokemon    DPS    TDO  Battle_Stat    CP     Fast_Move Charged_Move
2625  Furret  9.834  203.5        193.5  1758  Quick Attack   Hyper Beam

Would you like to check another Pokemon? Y/N N

Thank you have a great day!

## What pokemon has the highest and lowest cp?

In [86]:
df_best_attack_set[df_best_attack_set.Max_CP_Lv40 == df_best_attack_set.Max_CP_Lv40.max()]

,Pokemon,DPS,TDO,Battle_Stat,Max_CP_Lv40,Fast_Move,Charged_Move
2330,Eternamax Eternatus,14.836,2500.2,8164.7,8187,Dragon Tail,Hyper Beam

In [87]:
df_best_attack_set[df_best_attack_set.Max_CP_Lv40 == df_best_attack_set.Max_CP_Lv40.min()]

,Pokemon,DPS,TDO,Battle_Stat,Max_CP_Lv40,Fast_Move,Charged_Move
2411,Feebas,2.333,16.2,0.2,274,Tackle,Mirror Coat
4791,Magikarp,1.630,11.3,0.0,274,Splash,Return
4792,Magikarp,1.630,11.3,0.0,274,Splash,Struggle
9794,Shadow Magikarp,1.336,7.7,0.0,274,Splash,Struggle
9795,Shadow Magikarp,1.336,7.7,0.0,274,Splash,Frustration

## Lets look at the S tier pokemon for attackers as determined by general consensus

In [114]:
S_tier_attackers = ['Kartana', 'Terrakion', 'Shadow Metagross', 'Shadow Machamp',
                    'Shadow Mewtwo', 'Shadow Salamence', 'Shadow Dragonite', 'Mega Latios',
                    'Mega Gengar', 'Mega Charizard Y', 'Shadow Mamoswine']

In [153]:
for x in S_tier_attackers:
    result = df_best_attack_set[df_best_attack_set.Pokemon == x]
    print(result)

      Pokemon     DPS    TDO  Battle_Stat  Max_CP_Lv40   Fast_Move  \
4092  Kartana  20.374  428.9       3627.7         3677  Razor Leaf

     Charged_Move
4092   Leaf Blade
         Pokemon     DPS    TDO  Battle_Stat  Max_CP_Lv40    Fast_Move  \
12588  Terrakion  19.461  626.2       4615.8         3698  Double Kick

       Charged_Move
12588  Sacred Sword
               Pokemon     DPS    TDO  Battle_Stat  Max_CP_Lv40     Fast_Move  \
9954  Shadow Metagross  21.763  627.0       6462.6         3791  Bullet Punch

     Charged_Move
9954  Meteor Mash
             Pokemon    DPS    TDO  Battle_Stat  Max_CP_Lv40 Fast_Move  \
9745  Shadow Machamp  19.65  439.0       3330.3         3056   Counter

       Charged_Move
9745  Dynamic Punch
            Pokemon   DPS    TDO  Battle_Stat  Max_CP_Lv40  Fast_Move  \
9972  Shadow Mewtwo  25.4  662.7      10859.6         4178  Confusion

     Charged_Move
9972    Psystrike
                Pokemon     DPS    TDO  Battle_Stat  Max_CP_Lv40    Fast_Move  \
10739  Shadow Salamence  22.163  541.8       5898.5         3749  Dragon Tail

      Charged_Move
10739      Outrage
               Pokemon     DPS    TDO  Battle_Stat  Max_CP_Lv40    Fast_Move  \
8729  Shadow Dragonite  20.854  575.4       5218.5         3792  Dragon Tail

     Charged_Move
8729      Outrage
          Pokemon     DPS    TDO  Battle_Stat  Max_CP_Lv40      Fast_Move  \
5387  Mega Latios  20.704  829.4       7360.9         5007  Dragon Breath

     Charged_Move
5387      Psychic
          Pokemon     DPS    TDO  Battle_Stat  Max_CP_Lv40 Fast_Move  \
5283  Mega Gengar  23.173  643.5       8008.2         4336      Lick

     Charged_Move
5283  Shadow Ball
               Pokemon     DPS    TDO  Battle_Stat  Max_CP_Lv40  Fast_Move  \
5207  Mega Charizard Y  21.764  758.0       7814.8         4455  Fire Spin

     Charged_Move
5207   Blast Burn
               Pokemon     DPS    TDO  Battle_Stat  Max_CP_Lv40 Fast_Move  \
9855  Shadow Mamoswine  20.377  487.6       4125.6         3328  Mud Slap

     Charged_Move
9855    Avalanche

In [161]:
df_S_tier_attackers = df_best_attack_set[(df_best_attack_set.Pokemon == 'Kartana') | (df_best_attack_set.Pokemon == 'Terrakion') |
                  (df_best_attack_set.Pokemon == 'Shadow Metagross') | (df_best_attack_set.Pokemon == 'Shadow Machamp') |
                  (df_best_attack_set.Pokemon == 'Shadow Mewtwo') | (df_best_attack_set.Pokemon == 'Shadow Salamence') |
                  (df_best_attack_set.Pokemon == 'Shadow Dragonite') | (df_best_attack_set.Pokemon == 'Mega Latios') |
                  (df_best_attack_set.Pokemon == 'Shadow Gengar') | (df_best_attack_set.Pokemon == 'Mega Charizard Y') |
                  (df_best_attack_set.Pokemon == 'Shadow Mamoswine')]

In [162]:
df_S_tier_attackers

,Pokemon,DPS,TDO,Battle_Stat,Max_CP_Lv40,Fast_Move,Charged_Move
4092,Kartana,20.374,428.9,3627.7,3677,Razor Leaf,Leaf Blade
5207,Mega Charizard Y,21.764,758.0,7814.8,4455,Fire Spin,Blast Burn
5387,Mega Latios,20.704,829.4,7360.9,5007,Dragon Breath,Psychic
8729,Shadow Dragonite,20.854,575.4,5218.5,3792,Dragon Tail,Outrage
9745,Shadow Machamp,19.650,439.0,3330.3,3056,Counter,Dynamic Punch
9855,Shadow Mamoswine,20.377,487.6,4125.6,3328,Mud Slap,Avalanche
9954,Shadow Metagross,21.763,627.0,6462.6,3791,Bullet Punch,Meteor Mash
9972,Shadow Mewtwo,25.400,662.7,10859.6,4178,Confusion,Psystrike
10739,Shadow Salamence,22.163,541.8,5898.5,3749,Dragon Tail,Outrage
12588,Terrakion,19.461,626.2,4615.8,3698,Double Kick,Sacred Sword

In [163]:
df_S_tier_attackers[df_S_tier_attackers.Battle_Stat == df_S_tier_attackers.Battle_Stat.max()]

,Pokemon,DPS,TDO,Battle_Stat,Max_CP_Lv40,Fast_Move,Charged_Move
9972,Shadow Mewtwo,25.4,662.7,10859.6,4178,Confusion,Psystrike

In [164]:
df_S_tier_attackers[df_S_tier_attackers.Battle_Stat == df_S_tier_attackers.Battle_Stat.min()]

,Pokemon,DPS,TDO,Battle_Stat,Max_CP_Lv40,Fast_Move,Charged_Move
9745,Shadow Machamp,19.65,439.0,3330.3,3056,Counter,Dynamic Punch

## What pokemon has the highest and lowest average battle stat between all of their move sets?

In [170]:
df.groupby('Pokemon').mean('Battle_Stat').nlargest(1, columns = 'Battle_Stat')

                   DPS        TDO  Battle_Stat      CP
Pokemon
Mega Mewtwo Y  21.9695  833.38125   9380.23125  5610.0

In [171]:
df.groupby('Pokemon').mean('Battle_Stat').nsmallest(1, columns = 'Battle_Stat')

            DPS  TDO  Battle_Stat     CP
Pokemon
Magikarp  1.381  9.6          0.0  274.0

## Looking at new csv for info from the other pokemon games

In [172]:
df1 = pd.read_csv('Pokemon.csv')

In [173]:
df1.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Lets join our 2 dataframes

In [188]:
df_best_attack_set.head()

,Pokemon,DPS,TDO,Battle_Stat,Max_CP_Lv40,Fast_Move,Charged_Move
0,Flabébé,7.460,99.2,41.2,1063,Vine Whip,Dazzling Gleam
6,5th Anniversary Pikachu,8.366,81.2,47.5,938,Thunder Shock,Wild Charge
14,Abomasnow,12.094,322.3,570.1,2362,Razor Leaf,Weather Ball Ice
24,Abra,11.707,85.1,136.5,1342,Zen Headbutt,Psyshock
32,Absol,15.134,252.4,874.8,2526,Snarl,Return

In [175]:
df1.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [176]:
df1.rename(columns = {'Name' : 'Pokemon'}, inplace = True)

In [190]:
df_best_attack_set = df_best_attack_set.merge(df1, on='Pokemon', how='left')

In [191]:
df_best_attack_set.head()

,Pokemon,DPS,TDO,Battle_Stat,Max_CP_Lv40,Fast_Move,Charged_Move,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Flabébé,7.460,99.2,41.2,1063,Vine Whip,Dazzling Gleam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5th Anniversary Pikachu,8.366,81.2,47.5,938,Thunder Shock,Wild Charge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abomasnow,12.094,322.3,570.1,2362,Razor Leaf,Weather Ball Ice,460.0,Grass,Ice,494.0,90.0,92.0,75.0,92.0,85.0,60.0,4.0,False
3,Abra,11.707,85.1,136.5,1342,Zen Headbutt,Psyshock,63.0,Psychic,NaN,310.0,25.0,20.0,15.0,105.0,55.0,90.0,1.0,False
4,Absol,15.134,252.4,874.8,2526,Snarl,Return,359.0,Dark,NaN,465.0,65.0,130.0,60.0,75.0,60.0,75.0,3.0,False

In [194]:
df_best_attack_set.shape

(1317, 19)

In [192]:
df_best_attack_set.isnull().sum()

Pokemon           0
DPS               0
TDO               0
Battle_Stat       0
Max_CP_Lv40       0
Fast_Move         0
Charged_Move      0
#               509
Type 1          509
Type 2          899
Total           509
HP              509
Attack          509
Defense         509
Sp. Atk         509
Sp. Def         509
Speed           509
Generation      509
Legendary       509
dtype: int64

## How do we handle nulls?

### This is tricky because the nulls need to be filled with specific data for each pokemon. The null is occuring because of all the unique pokemon names in pokemon go. (ex. 5th Anniversary Pikachu) In the main series pokemon games there is just 'Pikachu'.

### I'm first going to export it into a CSV to get a better look at all the data.

In [195]:
df_best_attack_set.to_csv('Best_Attack_Set.csv')

### It apears the CSV's used are outdated I will manually adjust nulls as many names and stats are wrong and dated. From there I will reimport an updated CSV.