In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('comprehensive_dps.csv')

In [5]:
df.head()

         Pokemon   Fast Move Charged Move     DPS    TDO  DPS^3*TDO    CP
0  Mega Mewtwo Y   Confusion    Psystrike  26.355  999.7    18299.9  5610
1  Mega Mewtwo Y  Psycho Cut    Psystrike  26.207  994.1    17893.2  5610
2  Mega Mewtwo X   Confusion    Psystrike  25.513  967.8    16073.1  5429
3  Shadow Mewtwo   Confusion    Psystrike  25.400  662.7    10859.6  4178
4  Mega Mewtwo X  Psycho Cut    Psystrike  25.380  962.8    15739.4  5429

In [6]:
df.rename(columns = {'DPS^3*TDO' : 'Battle_Stat'}, inplace = True)

In [7]:
df.head()

         Pokemon   Fast Move Charged Move     DPS    TDO  Battle_Stat    CP
0  Mega Mewtwo Y   Confusion    Psystrike  26.355  999.7      18299.9  5610
1  Mega Mewtwo Y  Psycho Cut    Psystrike  26.207  994.1      17893.2  5610
2  Mega Mewtwo X   Confusion    Psystrike  25.513  967.8      16073.1  5429
3  Shadow Mewtwo   Confusion    Psystrike  25.400  662.7      10859.6  4178
4  Mega Mewtwo X  Psycho Cut    Psystrike  25.380  962.8      15739.4  5429

In [8]:
df.isnull().sum()

Pokemon         0
Fast Move       0
Charged Move    0
DPS             0
TDO             0
Battle_Stat     0
CP              0
dtype: int64

In [10]:
df_best_attack_set = df.groupby('Pokemon').max('Battle_Stat')

In [20]:
df_best_attack_set.head()

                            DPS    TDO  Battle_Stat    CP
Pokemon
 Flabébé                  7.460   99.2         41.2  1063
5th Anniversary Pikachu   8.366   81.2         47.5   938
Abomasnow                12.094  322.3        570.1  2362
Abra                     11.707   85.1        136.5  1342
Absol                    15.134  252.4        874.8  2526

In [21]:
df_best_attack_set = df_best_attack_set.merge(df, on='Pokemon', how='left')

In [22]:
df_best_attack_set.head()

,Pokemon,DPS_x,TDO_x,Battle_Stat_x,CP_x,Fast Move,Charged Move,DPS_y,TDO_y,Battle_Stat_y,CP_y
0,Flabébé,7.46,99.2,41.2,1063,Vine Whip,Dazzling Gleam,7.460,99.2,41.2,1063
1,Flabébé,7.46,99.2,41.2,1063,Tackle,Dazzling Gleam,7.300,97.1,37.8,1063
2,Flabébé,7.46,99.2,41.2,1063,Vine Whip,Psychic,6.797,90.4,28.4,1063
3,Flabébé,7.46,99.2,41.2,1063,Tackle,Psychic,6.613,88.0,25.4,1063
4,Flabébé,7.46,99.2,41.2,1063,Vine Whip,Petal Blizzard,6.071,80.8,18.1,1063

In [24]:
df_best_attack_set = df_best_attack_set[(df_best_attack_set['Battle_Stat_x'] == df_best_attack_set['Battle_Stat_y'])]

In [25]:
df_best_attack_set.head()

,Pokemon,DPS_x,TDO_x,Battle_Stat_x,CP_x,Fast Move,Charged Move,DPS_y,TDO_y,Battle_Stat_y,CP_y
0,Flabébé,7.460,99.2,41.2,1063,Vine Whip,Dazzling Gleam,7.460,99.2,41.2,1063
6,5th Anniversary Pikachu,8.366,81.2,47.5,938,Thunder Shock,Wild Charge,8.366,81.2,47.5,938
14,Abomasnow,12.094,322.3,570.1,2362,Razor Leaf,Weather Ball Ice,12.094,322.3,570.1,2362
24,Abra,11.707,85.1,136.5,1342,Zen Headbutt,Psyshock,11.707,85.1,136.5,1342
32,Absol,15.134,252.4,874.8,2526,Snarl,Return,15.134,252.4,874.8,2526

In [29]:
df_best_attack_set.drop(columns = ['DPS_y', 'TDO_y', 'Battle_Stat_y', 'CP_y'], inplace = True)

In [37]:
df_best_attack_set.rename(columns = {'DPS_x' : 'DPS', 'TDO_x' : 'TDO',
                                     'Battle_Stat_x' : 'Battle_Stat', 'CP_x' : 'CP',
                                    'Fast Move' : 'Fast_Move', 'Charged Move' : 'Charged_Move'}, inplace = True)

In [38]:
df_best_attack_set.head()

,Pokemon,DPS,TDO,Battle_Stat,CP,Fast_Move,Charged_Move
0,Flabébé,7.460,99.2,41.2,1063,Vine Whip,Dazzling Gleam
6,5th Anniversary Pikachu,8.366,81.2,47.5,938,Thunder Shock,Wild Charge
14,Abomasnow,12.094,322.3,570.1,2362,Razor Leaf,Weather Ball Ice
24,Abra,11.707,85.1,136.5,1342,Zen Headbutt,Psyshock
32,Absol,15.134,252.4,874.8,2526,Snarl,Return

In [41]:
df_best_attack_set[df_best_attack_set.Pokemon == 'Abra']

   Pokemon     DPS   TDO  Battle_Stat    CP     Fast_Move Charged_Move
24    Abra  11.707  85.1        136.5  1342  Zen Headbutt     Psyshock

In [45]:
def find_best_moveset(df_best_attack_set):
    x = input('Type a Pokemons name to find its best moveset.')
    result = df_best_attack_set[df_best_attack_set.Pokemon == x]
    print(result)

In [47]:
find_best_moveset(df_best_attack_set)

Type a Pokemons name to find its best moveset. Furret

     Pokemon    DPS    TDO  Battle_Stat    CP     Fast_Move Charged_Move
2625  Furret  9.834  203.5        193.5  1758  Quick Attack   Hyper Beam